/ProyectoFinal/nbproject/private/
/ProyectoFinal/build/
/ProyectoFinal1/Proyecto/nbproject/private/
/ProyectoFinal1/Proyecto/build/
/proyecto2024/Proyecto/build/
/proyecto2024/Proyecto/nbproject/private/
